footer.pb-0.pt-px-md-100.pt-px-xs-20.text-center.justify-content-center.d-flex
    div.position-absolute.mt-px-md-100.mt-px-xs-60
        h2.font-px-md-39.text-white(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="500", data-aos-offset="100")
            span.fw-300    Queremos ser tu <br>
            span.fw-bold    socio estratégico.
        a.btn.btn-light.mt-4.btn-ouline Solicita una reunión
    embed(src="images/footer-fondo.svg").mx-auto.d-md-block.d-none
    embed(src="images/footer-fondo-m.svg").mx-auto.d-md-none.d-block