div.row.pt-px-md-60.pt-px-xs-60.col-md-10.mx-auto
    .col-md-4.col-11.align-items-center.d-flex.mb-px-xs-20.mx-auto
        div.text-center.text-md-start
            span.text-primary.font-px-xs-12(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="1500", data-aos-offset="100")   Servicio integral para
            h2.font-px-md-45.font-px-xs-30(data-aos="fade-up", data-aos-duration="1200", data-aos-delay="1500", data-aos-offset="100") Compañías
            p.mt-px-md-16.font-px-xs-14(data-aos="fade-up", data-aos-duration="1400", data-aos-delay="1500", data-aos-offset="100")   Damos aprovisionamiento y soporte a medianas y
                            |grandes corporaciones que desean contar con la
                            |mejor tecnología de forma directa y eficiente.
            a(href="").font-px-md-18.font-px-xs-16(data-aos="fade-up", data-aos-duration="1600", data-aos-delay="1500", data-aos-offset="100") Conectar
    .col-md-8.col-10.d-flex.justify-content-end.mx-auto
        embed(src="images/img-section-3-ani.svg", data-aos="flip-right", data-aos-delay="800", data-aos-offset="100").img-solutions