html
    include ../components/_head
    block style
    body
        include ../components/_menu
        block content
        include ../components/_footer
        include ../components/_script
        block script
        script(src="js/script.js")