extends ./layouts/_main
block style
    style.
        body {
            background-color: #005ce2 !important;
        }

        .pt-px-md-100 {
            padding-top: 10px;
        }
block title
    title Inicio
block content
    .pt-px-xs-60
        section#about
            div.pt-px-md-150.pt-px-xs-20.mx-md-auto
                h2.font-px-40.font-px-xs-24.text-center.text-white.mb-4.fw-300(data-aos="fade-up", data-aos-duration="800") Contáctenos
                div.card.col-md-7.mx-md-auto.pl-px-md-100.pr-px-md-100.pt-px-md-80.pb-px-md-80
                    h2.text-primary.font-px-md-34  Gracias por contactar a LatSell
                    div.font-px-md-26 Nuestro equipo comercial se estará contactando con Ud. a la mayor brevedad posible.

